// Base
// ––––––––––––––––––––––––––––––––––––––––––––––––––

* {
	box-sizing: inherit;
	&:before, &:after {
	  box-sizing: inherit;
	}
  }

// By setting base font-size to 62.5% gives you the convenience of the set rems like that -> 1.6rem = 16px
html{
	box-sizing: border-box;
	font-size: 62.5%;
}

// Default body styles
body{
	margin: 0;
	padding: 0;
	color: darken($color-royal-blue, 25%);
	font-family: $font-family-base;
    font-size: 1.6em; // Currently ems cause chrome bug misinterpreting rems on body element. See ->https://goo.gl/X6WUjW
	font-weight: 300;
	letter-spacing: .01em;
    line-height: 1.6;
}
