// Button
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.button,
button,
%button,
input[type='button'],
input[type='reset'],
input[type='submit']{
	background-color: $color-royal-blue;
	border: .1rem solid $color-royal-blue;
	border-radius: .4rem;
	color: white;
	cursor: pointer;
	display: inline-block;
	font-size: 1.1rem;
	font-weight: 700;
	min-height: 3.8rem;
	letter-spacing: .1rem;
	line-height: 150%;
	padding: 1.4rem 3.0rem;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	height:auto;
	transform: scale(1);
	transition: transform 0.2s ease-out;
	position: relative;

	&:focus,
	&:hover{
		background-color: darken($color-royal-blue, 25%);
		border-color: darken($color-royal-blue, 25%);
		color: white;
		outline: 0;
	}

	&:active{
		transform: scale(0.98);
	}
	&.disabled,
	&[disabled]{
		cursor: default;
		pointer-events: none;
		opacity: .5;

		&:focus,
		&:hover{
			transform: scale(1);	
			background-color: $color-royal-blue;
			border-color: $color-royal-blue;
		}
	}

	&.button-outline{
		background-color: transparent;
		color: $color-royal-blue;

		&:focus,
		&:hover{
			background-color: transparent;
			border-color:  darken($color-royal-blue, 25%);
			color:  darken($color-royal-blue, 25%);
		}

		&[disabled]{

			&:focus,
			&:hover{
				border-color: inherit;
				color: $color-royal-blue;
			}
		}
	}

	&.button-clear{
		background-color: transparent;
		border-color: transparent;
		color: $color-royal-blue;

		&:hover{
			background-color: transparent;
			border-color: transparent;
		}
		&:focus{
			background-color: $color-wild-sand;
			border-color: $color-wild-sand;
		}
		
		&:focus,
		&:hover{
			color: darken($color-royal-blue, 25%);			
		}

		&[disabled]{

			&:focus,
			&:hover{
				color: $color-royal-blue;
			}
		}
	}

	&.button-large{
		min-height: 6.0rem;
		padding: 2.4rem 8.0rem;
		font-size: 1.8rem;
		font-weight: 400;
	}

	&.button-round{
		border-radius: 50%;
		padding:2rem;
		height:auto;
	}
}
