// Color
// ––––––––––––––––––––––––––––––––––––––––––––––––––

$color-initial: #FFFFFF !default;
$color-royal-blue: #2B6CDE !default;
$color-big-stone: #17203D !default;
$color-havelock-blue: #447CD9 !default;
$color-wild-sand: #f6f6f6 !default;
$color-dove-gray: #626262 !default;
$color-alto: #d6d6d6 !default; //border
$color-mine-shaft: #333333 !default;