// Form
// ––––––––––––––––––––––––––––––––––––––––––––––––––

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
input:not([type]),
textarea,
select{
	appearance: none; // Removes awkward default styles on some inputs for iOS
	background-color: transparent;
	border: .1rem solid $color-alto;
	border-radius: .4rem;
	box-shadow: none;
	box-sizing: inherit; // Forced to replace inherit values of the normalize.css
	height: 3.8rem;
	padding: .6rem 1.0rem; // The .6rem vertically centers text on FF, ignored by Webkit
	width: 100%;

	&:focus{
		border-color: $color-royal-blue;
        outline: 0;
    }
}

textarea{
    min-height: 6.5rem;
}

label,
legend{
    display: block;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

fieldset{
    border-width: 0;
    padding: 0;
}