body{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

header{
    border-bottom: 1px solid lighten($color-alto, 10%);
    padding:25px 0 15px;
    background-color:white;
    z-index: 10000;
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex:1;
    padding:2.0rem 0;
    overflow: hidden;
}

footer{
    padding: 1.5rem 0;
    background-color: $color-big-stone;
    color:white;
    z-index: 10000;
    
    @media #{$small}{
        text-align: center;
    }
}

.clark-logo{
  background-image: url("/img/clark-logo.svg");
  width: 9.0rem;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  color: transparent;
  min-height: 1.6rem;
  height: 3.0rem;
  text-indent: -99em;
}

.survey-name{
  font-family: $font-family-serif;
  word-break: break-all;
  margin: 4.0rem 0;
  font-size: 6.6rem
}

.survey-description{
    display: flex;
    font-size: 2.4rem;
    color: $color-dove-gray;    
    word-break: break-word;
    
    &:before {
        content:" ";
        width:2.0rem;
        margin: 1.8rem 1.0rem 0 0;
        border-top:1px solid $color-royal-blue;
    }
}