// Media Queries
// ––––––––––––––––––––––––––––––––––––––––––––––––––


$small          : "only screen and (max-width: 35.5rem)";
$medium         : "only screen and (min-width: 48rem)";
$large          : "only screen and (min-width: 64rem)";
$extra-large    : "only screen and (min-width: 80rem)";