// Page Transitions
// ––––––––––––––––––––––––––––––––––––––––––––––––––

.ng-leave 	{ z-index:8888; }
.ng-enter 	{ z-index:9999; }

//Borrowed from animate.css
@keyframes slideInUp {
    from {
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutUp {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        visibility: hidden;
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}


@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-200%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(200%, 0, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeOutLeft {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(-200%, 0, 0);
  }
}

@keyframes fadeOutRight {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(200%, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.25, 1.25, 1.25);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

//Page Transitions
[ui-view].ng-enter, [ui-view].ng-leave {
    transition:transform 1s ease-in-out;
}
[ui-view].ng-enter {
    #home,
    #questionnaire-complete{
        animation:  slideInDown 1s 1 ;         
    }
    #questionnaire{
        animation:  slideInUp 1s 1 ; 
    }
}
[ui-view].ng-enter-active {

    #home,
    #questionnaire-complete{
        transform: translate3d(0, 0, 0);        
    }
    #questionnaire{
        transform: translate3d(0, 0, 0);        
    }
}
[ui-view].ng-leave {
    #home,
    #questionnaire-complete{
        animation:  slideOutUp 1s 1 ;       
        
    }
    #questionnaire{
        animation:  slideOutDown 1s 1 ;       
    }     
}
[ui-view].ng-leave-active {

   #home,
   #questionnaire-complete{
    transform: translate3d(0, 100%, 0);      
   }
   #questionnaire{
    transform: translate3d(0, -100%, 0);  
   } 
}

main + main {
    position: absolute;
    width: 100%;
    top: 71px;
    left:0;
    height: calc(100% - 1.26rem);
}


#questionnaire{
    &.next{
      .ng-leave{
        transition:transform 1.2s ease-out;
        animation:fadeOutLeft 1.2s 1 .1s;
      }
      .ng-leave-active{
        transform: translate3d(0, 0, 0);      
      }

      .ng-enter{
        transition:transform 1.2s ease-in;
        animation:fadeInRight 1.2s 1 .05s;
      }
      
      .ng-enter-active{
        transform: translate3d(0, 0, 0);
      }

      .question.ng-enter:nth-of-type(1) {
        transform: translateX(200%);
        position: absolute;
        z-index: 0;
        width: calc(100% - 2.0rem);
      }
    }

    &.prev{

      .ng-leave{
        transition:transform 1.2s ease-out;
        animation:fadeOutRight 1.2s 1 .1s;  
      }
      .ng-leave-active{
        transform: translate3d(0, 0, 0);    
      }

      .ng-enter{
        transition:transform 1.2s ease-in;
        animation:fadeInLeft 1.2s 1 .05s;
      }
      
      .ng-enter-active{
        transform: translate3d(0, 0, 0);
      }
      
      .question.ng-enter:nth-of-type(1) {
        transform: translateX(200%);
        position: absolute;
        z-index: 0;
        width: calc(100% - 2.0rem);
      }

    }
  }
