<div class="row row-wrap question" ng-attr-id={{vm.question.identifier}} ng-attr-title={{vm.question.questionSentence}}>
    <div class="column column-full">
        <h3 class="title">{{vm.question.questionSentence}}</h3>
        <p class="description" ng-if="vm.hasDescription">{{vm.question.description}}</p>
    </div>

    <answer answer="vm.question.answer"></answer>
</div>



