@import "../../stylesheets/variables";
@import "../../stylesheets/color";

#home{
    @keyframes arrow-animation {
        0% {
            transform: rotate(-90deg) translateX(0);
        }
        20% {
            transform: rotate(-90deg) translateX(-25px);
        }
        40% {
            transform: rotate(-90deg) translateX(0);
        }
    }

    .survey-start-button{
        display: block;
        margin: 4.0rem 0;
    }

    .down-arrow{
        background-image: url("/img/arrow_blue.svg");
        background-repeat: no-repeat;
        transform: rotate(-90deg);
        width:4.8rem;
        height: 4.8rem;
        display: block;
        margin: 0 auto;
        animation: arrow-animation 3s infinite ;
    }
}