<section class="container container-middle" id="home">
  <div class="row row-wrap">
    <div class="column column-full">
      <h1 class="survey-name">{{home.questionnaire.name}}</h1>
    </div>

    <div class="column column-full">
      <p class="survey-description">{{home.questionnaire.description}}</p>
    </div>
  </div>

  <div class="row">
    <div class="column column-auto">
      <a class="survey-start-button button button-large" ui-sref="questionnaire">Starten</a>

      <i class="down-arrow">&nbsp;</i>
    </div>
  </div>

</section>