<div class="question-navigator">
    <a href="javascript:;" class="button button-outline" ng-class="{disabled: vm.prevButtonBlock()}" ng-click="vm.previousQuestion()">
        <i class="arrow left"></i>
    </a>
    <p class="question-counter"> {{vm.questionIndex}} /
        <span>{{vm.totalQuestionCount}}</span>
    </p>
    <a href="javascript:;" class="button button-outline" ng-class="{disabled: vm.nextButtonBlock(vm.nextButtonBlockOverride)}" ng-click="vm.nextQuestion()">
        <i class="arrow right"></i>
    </a>
</div>