<div class="column column-66 answer-list">
    <div class="multiple" ng-if="vm.answerType.multiple(vm.answer)">
        
        <a href="javascript:;" ng-repeat="choosen in vm.answer.choices" class="multiple-answer-button" ng-click="vm.dispatchAnswer(choosen)"><i ng-class="{selected:choosen.selected}"></i> {{choosen.label}}</a>
        
        <div class="controls" ng-if="vm.answer.multipleChoiceAllowed">
            <a href="javascript:;" class="button button-round" ng-click="vm.navigateQuestion()">
                <i class="arrow right"></i>
            </a>
        </div>
    </div>

    <div class="double" ng-if="vm.answerType.double(vm.answer)">
        <a hhref="javascript:;" ng-repeat="choosen in vm.answer.choices" class="double-answer-button" ng-click="vm.dispatchAnswer(choosen)"><i ng-class="{selected:choosen.selected}"></i> {{choosen.label}}</a>
    </div>

    <div class="text" ng-if="vm.answerType.singleLine(vm.answer)">
        <input type="text" placeholder="" id="textField" ng-model="vm.answer.userAnswer" ng-keypress="vm.handleTextQuestion($event)">
      
        <div class="controls">
            <a href="#" class="button button-round" ng-click="vm.navigateQuestion()" ng-class="{disabled:!vm.answer.userAnswer}">
                <i class="arrow right"></i>
            </a>
        </div>
    </div>

    <div class="text" ng-if="vm.answerType.multiLine(vm.answer)">
        <textarea placeholder="" id="textareaField" ng-model="vm.answer.userAnswer" ng-keypress="vm.handleTextQuestion($event)"></textarea>

        <div class="controls">
            <a href="#" class="button button-round" ng-click="vm.navigateQuestion()" ng-class="{disabled:!vm.answer.userAnswer}">
                <i class="arrow right"></i>
            </a>
        </div>
    </div>
</div>