@import "../../stylesheets/variables";
@import "../../stylesheets/color";
@import "../../stylesheets/media_querries";
@import "../../stylesheets/button";

#questionnaire{
   padding-top: 4.2rem;

    .question-navigator{
        text-align: center;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -8.5rem;
        animation:fadeInDown 1s 1 1s;
        display: flex;
        align-items: center;

        p.question-counter{
            margin: 0 2.5rem;
            font-size: 1.4rem;
            letter-spacing: 0.5rem;
            font-weight: 400;

            span{
                letter-spacing: .1rem;
            }
        }

        a{
            border-radius: 50%;
            padding: 1rem;

            &.disabled{
                opacity: .2;
                pointer-events: none;
            }
        }

        .arrow{
            background-image: url(/img/arrow_blue.svg);
            width:1.5rem;
            height: 1.5rem;
        }

        .ng-enter & {
            opacity: 0;
        }
    }


    .question{
        h3.title{
           
            font-family: $font-family-serif;
            font-size:3.6rem;
            color: $color-mine-shaft;
            word-break: break-word;
            text-align: center;
        }

        p.description{
            padding-left: 3.0rem;
        }

        .answer-list{
            margin: 7.5rem 0 0;
            display: flex;
            
            .multiple,
            .double,
            .text{
                display: flex;
                flex: 1 0 100%;
            }

            .multiple{
                flex-direction: column;

                .multiple-answer-button {
                    @extend %button;
                    @extend %button.button-outline;

                    margin-bottom: 2rem;

                    i{
                        background-image: url(/img/tick_blue.svg);
                        background-size: 100%;
                        background-repeat: no-repeat;
                        height: 2.5rem;
                        width: 2.5rem;
                        margin-left: -1.8rem;
                        visibility: hidden;
                        transition: transform .5s ease;
                        top: 50%;
                        position: absolute;
                        margin-top: -1.25rem;
                        left: 2.5rem;

                        &.selected{
                           visibility: visible;
                           animation: pulse .8s 1;
                        }
                    }
                }
            }

            .double{
                flex-direction: row;
                justify-content: space-around;
                
                .double-answer-button {
                    @extend %button;

                    padding:1.4rem 4.0rem;
                    
                    i{
                        background-image: url(/img/tick_white.svg);
                        background-size: 100%;
                        background-repeat: no-repeat;
                        height: 2.5rem;
                        width: 2.5rem;
                        margin-left: -1.8rem;
                        visibility: hidden;
                        transition: transform .5s ease;
                        top: 50%;
                        position: absolute;
                        margin-top: -1.25rem;
                        left: 2.5rem;

                        &.selected{
                            visibility: visible;
                            animation: pulse .8s 1;
                        }
                    }
                }
            }

            .text{
                flex-direction: column;                
                justify-content:space-around;
            }

            .text,
            .multiple{
                .controls{
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: space-between;
                    margin-top: 2.5rem;

                    .arrow{
                        background-image: url("/img/arrow_white.svg");        
                        width:3.2rem;
                        height: 3.2rem;
                    }
                }
            }

        }
    }

    //arrow used both counter and question buttons. so I need to move it under namespace.    
    .arrow{
        background-repeat: no-repeat;
        display: block;
    
        //Arrow direction is already to left. So don't need to define a new class like .left
        &.right{
            transform: rotate(-180deg);        
        }
    }

}

@media #{$small} {
	#questionnaire{
        .question{
            .answer-list{
                flex:1 1 100%;
                max-width: 100%;

                &.double{
                    flex-direction: column;
                    > * {
                        margin-bottom: 2rem;
                    }
                }
    
            }
        }
    }
}
