<section class="container container-middle" id="questionnaire-complete">
    <div class="row row-wrap">
        <div class="column column-full">
            <h1 class="survey-name">Fragebogen abgeschlossen</h1>
        </div>

        <div class="column column-full">
            <p class="survey-description">Wir danken Ihnen, dass Sie sich die Zeit genommen haben, den Fragebogen auszufüllen.</p>
        </div>
    </div>
</section>