<section class="container container-middle" id="questionnaire" question-animation>
    <question ng-repeat="question in questionnaire.questionList track by question.identifier" question="question"></question>
    
    <question-navigation questions="questionnaire.questions" question-index="questionnaire.questionIndex"></question-navigation>
</section>